/akismet
/google-listings-and-ads
/jetpack
/mailpoet
/pinterest-for-woocommerce
/woocommerce
/wp-crontrol
/woo-discount-rules
/hello.php
/index.php

/delete-draft-daily/node_modules
/delete-draft-daily/vendor


/postmark/node_modules
/postmark/vendor

/send-grid-mail/node_modules
/send-grid-mail/vendor
